<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%t] %-5p %c - %m%n" />
		</Console>
		<Async name="ASYNC" bufferSize="500">
        	<AppenderRef ref="stdout"/>
    	</Async>   
	</Appenders>
	<Loggers>
	    <Logger name="de.komoot.photon" level="info"/>
	    <Logger name="org.elasticsearch" level="info"/>
	    <Logger name="org.elasticsearch.index" level="info"/>
	    <Logger name="org.elasticsearch.indices" level="info"/>
	    <Logger name="org.elasticsearch.indices.IndexingMemoryController" level="info"/>
		<!-- allows log json search requests -->
<!--	    <Logger name="org.elasticsearch.tasks.TaskManager" level="trace"/>-->
		<Root level="info">
			<AppenderRef ref="ASYNC" />
		</Root>
	</Loggers>
</Configuration>
